@import 'tailwindcss';

@theme {
	--color-sage: #8cae73;
	--color-sage-dark: #5c7a45;

	--font-body: 'Figtree', 'sans-serif';
	--font-serif-display: 'DM Serif Display', 'sans-serif';
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	* {
		@apply transition-colors duration-300 ease-in-out;
	}

	a,
	a * {
		@apply transition-none;
	}
}
