@import 'tailwindcss';

@theme {
	--color-sage: #8cae73;

	--font-poppins: 'Poppins', 'sans-serif';
	--font-serif-display: 'DM Serif Display', 'sans-serif';
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	* {
		@apply transition-colors duration-300 ease-in-out;
	}
}
